*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 8vh;
    width: 100%;
    background-color: orange;
}
@media (max-width:1000px){
    .m{
        display: none;
    }
}
@media (max-width:500px){
    .f{
        display: none;
    }
}