*{
    padding: 0;
    margin: 0;
   
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
div{
    background-color: #000000 !important;
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
}
.a,.b,#c{
    display: flex;
    color: red;
    background-color: aqua;
    align-items: center;
    justify-content: center;
}

#c{
    background-color: blue;
}
/* Types Of Selectors (sorted by priority)
    1. ID Selector (#c)
    2. Class Selector (.a, .b)
    3. Type Selector (div) (Same Priority And Order Of Execution Matters ) 4. Group Selector (.a, .b)
    5. Universal Selector (*)
*/
